@mixin hyphens() {
	-webkit-hyphens: auto;
		 -moz-hyphens: auto;
					hyphens: auto;
}

body > .animsition {
	height: 100%;
	min-height: 100vh;
	background-color: $white
}

// Typography
a {
	padding-bottom: rem-calc(2);
	border-bottom: 1px solid $primary-color;
	transition-property: all;
	transition-duration: .25s;
	color: $link-color;

  &:hover {
		color: $link-color;
		border-color: $light-gray;
	}
}
h1, .h1 {
  line-height: 56px;
  margin-top: 28px;
  margin-bottom: 56px;
}
h2, .h2 {
  line-height: 56px;
  margin-top: 28px;
  margin-bottom: 28px;
}
h3, .h3 {
  line-height: 28px;
  margin-top: 56px;
  margin-bottom: 28px;
}
h4, .h4, h5, .h5, h6, .h6 {
  line-height: 28px;
  margin-top: 28px;
  margin-bottom: 0px;
}
.page-title {
	position: relative;
	margin-bottom: .75em;
	font-size: 4em;
	font-weight: bold;
	line-height: .95;
	color: $primary-color;
	transition: all $transition-duration ease-out;
	@include hyphens();
	@include breakpoint(medium) {
		margin-bottom: .35em;
		font-size: 6em;
	}
}
.overlay-slide-out-top {
	.page-title {
		text-shadow: 16px 16px 0px rgba($black, .25);
	}
}

.strikethrough  { text-decoration: line-through }
.svg-inline--fa { overflow: visible !important } // For Font Awesome icons
.iconlink				{ border-bottom: none } // no underline on icon links

code,
kbd,
samp			 { font-size: .9em }
blockquote { font-style: italic }
cite 			 { font-style: normal }
p {
 @include hyphens();
}
pre > code {
	display: block;
	white-space: pre-wrap;
	margin-bottom: $paragraph-margin-bottom;
}

// Typography, medium & up

@include breakpoint(medium) {
	h1, .h1 {
	  line-height: 64px;
	  margin-top: 32px;
	  margin-bottom: 64px;
	}
	h2, .h2 {
	  line-height: 64px;
	  margin-top: 32px;
	  margin-bottom: 32px;
	}
	h3, .h3 {
	  line-height: 32px;
	  margin-top: 64px;
	  margin-bottom: 32px;
	}
	h4, .h4, h5, .h5, h6, .h6 {
	  line-height: 32px;
	  margin-top: 32px;
	  margin-bottom: 0px;
	}
}

// Buttons
button,
.button {
	transition-property: opacity, width, height, background-color, border-color;
	transition-duration: .25s;
}
.close-button {
	background-color: rgba(255,255,255,.65);
	padding-left: .125em;
	padding-right: .125em;
}
button.secondary.button.active {
	background-color: $primary-color;
	border-color: $primary-color;
	color: white;

	&:hover {
		border-color: $primary-color;
		color: white;
	}
}
.button.hollow.secondary {
	color: $link-color;
	border-width: 2px;
}
.button-group {
	.button { margin-bottom: .25rem }
}
.pager {
	padding: 1rem 0;
	border-top: 2px solid $black;
}

footer {
	.footer-inner { border-top: 1px solid $black }
	p {
		line-height: 1;
		margin-top: .5em;
	}
}

// Navigation
.top-bar {
	.top-bar-left { width: inherit }
	.top-bar-right { width: inherit }
	.menu  {
		a {
			position: relative;
			padding: 0.1rem 0 .25rem 0;
			margin-left: 1em;
			font-weight: bold;
			color: $black;
			border: none;
			&::after  {
				position: absolute;
				width: 0%;
				height: 2px;
				left: 0;
				bottom: -2px;
				content: '';
				transition: all $transition-duration ease-out;
				background: $primary-color;
			}
			&:hover {
				color: $primary-color;
				&::after { width: 100% }
			}
			&.active {
				color: $primary-color;
				&::after { width: 100% }
			}
			@include breakpoint(medium) { padding-top: .8rem }
		}
	}
}

.logo {
  display: block;
  width: 26px;
  height: 26px;

	svg { fill: $primary-color }

  @include breakpoint(medium) {
    width: 50px;
    height: 50px;
  }
}

// Accoutrements
// -------------------------
.top-rule {
	border-top: 5px solid $black;
	margin-bottom: 10px;
}

// Work grid stylez
.work-grid {
  margin-top: 2em;
	margin-bottom: 2em;
	transition-property: height;
	transition-duration: .25s;
}

#grid-sizer,
.work-item {
  width: 49%;

  @include breakpoint(medium) { width: 33% }
	@include breakpoint(large) { width: 24.75% }
}

.work-item {
  display: block;
  position: relative;
  margin-bottom: 4px;
  padding: 0;
  border: none;

  transition-property: none;
  transition-duration: 0;

  span {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    color: white;
		font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    background-color: rgba($primary-color, .9);

    transition-property: opacity, width, height, left, top;
    transition-duration: .25s;
  }

  &:hover {
    border: none;

    span {
      width: 94%;
      height: 90%;
      left: 3%;
      top: 5%;
      opacity: 1;
    }
  }
}

// Article listing
.blog-index { margin-top: 6em }
.blog-item  {
	margin-bottom: 3em;
	padding-top: .75em;
	border-top: 4px solid $black;
}

.post-title {
	margin-top: 0;
  a {
    border-bottom-color: rgba(255,255,255,0);
    color: $body-font-color;

		&:hover { border-bottom-color: $primary-color }
  }
}

.blog-date {
  display: block;
  margin-bottom: 1em;
  color: #898989;
  font-size: .85em;
	line-height: .75;
  text-transform: uppercase;

  a {
    border: none;
    &:hover { color: $primary-color }
  }
}

.post-tags {
	line-height: 1;
	margin: 0 0 1em 0;
}

.post-img {
  margin-bottom: 20px;
}

.img-block-bg {
  display: block;
  width: 100%;
	margin-bottom: .5em;
  background-color: $white;
	border: 3px solid $white;

	img { border-right: 3px solid $white }
}

.three-em-dash {
  display: block;
  width: 3em;
  height: 2px;
  margin-bottom: .75em;
  background-color: $black;
}

.pagination {
  margin: 0;
  color: #898989;
  font-size: .85em;
}
