// Styles

footer { margin-top: 1em }

// Aligned-left layout
.panel-left {
	position: fixed;
	bottom: 0;
	left: 0;
  z-index: 999;
	width: 100%;
  height: 50px;
	padding-top: 0;
	color: #ffffff;
	background: linear-gradient(to right bottom, #e7002a 0%, #e70050 100%);

  a { border: none; }

  // @media (min-width: @screen-xs-max) and (max-width: @screen-md-max) {
  @include breakpoint(medium down) {
    top: 0;
    bottom: 0;
    height: auto;
    width: 200px;
    padding-top: 30px;
  }
  // @media (min-width: @screen-md-max) {
  @include breakpoint(medium up) {
    top: 0;
    bottom: 0;
    height: auto;
		width: 300px;
    padding-top: 40px;
  }
}
.panel-right {
	margin-left: 300px;
	padding-top: 40px;
	// padding-bottom: 70px;

	// @media (min-width: @screen-xs-max) and (max-width: @screen-md-max) {
  @include breakpoint(medium down) {
		margin-left: 200px;
		padding-top: 30px;
  }
  // @media (max-width: @screen-xs-max) {
  @include breakpoint(small down) {
		margin-left: 0;
  }
  // @media (min-width: @screen-xs-max) {
  @include breakpoint(small down) {
    padding-bottom: 40px;
  }
}

 // Navigation
.nav-collapse {
  z-index: 999;
	padding-left: 20px;
  padding-right: 20px;
	//background: linear-gradient(to right bottom, #e7002a 0%, #e70050 100%);

 	a {
 		display: block;
    color: rgba(255,255,255,.7);
    line-height: 2;
    // .transition-property(all);
    // .transition-duration(.2s);

    &.active {
      color: white;
    }
  }
  a:hover,
  a:focus {
  	color: #ffffff;
  	text-decoration: none;
  }
  .top-rule {
  	margin-bottom: 10px;
  	border-top-color: $light-gray;
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
    line-height: 50px;
  }
  li {
    width: auto;
    display: inline-block;
    margin-right: 1.5em;
  }

  // @media (min-width: @screen-xs-max) {
  @include breakpoint(small down) {
    background-color: transparent;
    background-image: none;
  }
}

// @media screen and (min-width: @screen-xs-max) {
@include breakpoint(small up) {
  .nav-collapse {
    margin-top: 0;

    li {
      width: 100%;
      display: block;
    }
  }
}

.logo {
  display: block;
  position: absolute;
  top: 12px;
  right: 20px;
  width: 26px;
  height: 26px;
  background-image: url('/assets/phvt-triangle-white.svg');
  background-repeat: no-repeat;

  // @media screen and (min-width: @screen-xs-max) {
  @include breakpoint(small up) {
    top: initial;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
  }
}

// Accoutrements
// -------------------------
.top-rule {
	border-top: 3px solid $primary-color;

	&.secondary {
		margin-bottom: 10px;
		border-top-color: $light-gray;
	}
}
.add-margin-top {
	margin-top: 5px;

	&.add-ten {
		margin-top: 10px;
	}
}
.add-margin-bottom {
  margin-bottom: 5px;
}

// Work grid stylez
.work-grid {
  margin-top: 40px;
}

.grid-sizer,
.work-item {
  width: 49.3%;

  // @media screen and (min-width: @screen-xs-max) {
  @include breakpoint(small up) {
    width: 32% }
}

.work-item {
  display: block;
  position: relative;
  margin-bottom: 4px;
  padding: 0;
  border: none;

  // .transition-property(none);
  // .transition-duration(0);

  span {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 4%;
    color: white;
    line-height: 1;
    text-transform: uppercase;
    background-color: rgba(231, 0, 42, .9);

    // .transition-property(all);
    // .transition-duration(.2s);

  }

  &:hover {
    border: none;

    span {
      width: 94%;
      height: 90%;
      left: 3%;
      top: 5%;
      opacity: 1;
    }
  }
}

// Article listing
.blog-index { margin-top: 3em }

.blog-item {
  // margin-bottom: (@line-height-computed * 2);
	margin-bottom: $paragraph-lineheight * 2;
}

.post-title {
  a {
    border-bottom-color: rgba(255,255,255,0);
    // color: @text-color;
  }
}

.blog-date {
  display: block;
  margin-bottom: $paragraph-lineheight;
  color: #898989;
  font-size: .85em;
  text-transform: uppercase;

  a {
    border: none;
    color: #898989;

    // &:hover { color: @brand-primary }
  }
}

.post-img {
  padding: 2em;
  margin-bottom: 20px;
  background-color: white;
}

.img-block-bg {
  display: block;
  width: 100%;
  background-color: #eee;
}

.three-em-dash {
  display: block;
  width: 2.5em;
  height: 1px;
  margin-bottom: .5em;
  background-color: #d8d8d8;
}

.pagination {
  margin: 0;
  color: #898989;
  font-size: .85em;
}
