// Typography

a {
	padding-bottom: rem-calc(2);
	border-bottom: 1px solid $light-gray;
	transition-property: all;
	transition-duration: .25s;
	color: $link-color;

  &:hover { border-color: $primary-color }
}

h1, .h1 {
  line-height: 56px;
  margin-top: 28px;
  margin-bottom: 56px;
}

h2, .h2 {
  line-height: 56px;
  margin-top: 28px;
  margin-bottom: 28px;
}

h3, .h3 {
  line-height: 28px;
  margin-top: 56px;
  margin-bottom: 28px;
}
h4, .h4, h5, .h5, h6, .h6 {
  line-height: 28px;
  margin-top: 28px;
  margin-bottom: 0px;
}
.page-title {
	margin-top: .25em;
	margin-bottom: .35em;
	font-weight: bold;
	line-height: .9
}
.strikethrough { text-decoration: line-through; }

blockquote { font-style: italic }
cite 			 { font-style: normal }

// Typography, medium & up

@include breakpoint(medium) {
	h1, .h1 {
	  line-height: 64px;
	  margin-top: 32px;
	  margin-bottom: 64px;
	}
	h2, .h2 {
	  line-height: 64px;
	  margin-top: 32px;
	  margin-bottom: 32px;
	}
	h3, .h3 {
	  line-height: 32px;
	  margin-top: 64px;
	  margin-bottom: 32px;
	}
	h4, .h4, h5, .h5, h6, .h6 {
	  line-height: 32px;
	  margin-top: 32px;
	  margin-bottom: 0px;
	}
}

// Buttons
button,
.button {
	transition-property: opacity, width, height, border-color;
	transition-duration: .25s;
}
.close-button {
	background-color: rgba(255,255,255,.65);
	padding-left: .125em;
	padding-right: .125em;
}
button.secondary.button.active {
	background-color: #e7002a;
	color: white;
}

.button.hollow.secondary { color: $link-color }

.button-group {
	.button { margin-bottom: 2px }
}
.pagination {
	a {
		border: none;
	}
}

// Display Structure
// Aligned-left layout
.panel-left {
	position: fixed;
	bottom: 0;
	left: 0;
  z-index: 999;
	width: 100%;
  height: 50px;
	padding-top: 0;
	color: #ffffff;
	// Red gradient background
	// background: linear-gradient(125deg, #e7002a 0%, #e70050 100%);
	background: black;

  a { border: none; }

  @include breakpoint(medium) {
    top: 0;
    bottom: 0;
    height: auto;
    width: 200px;
    padding-top: 30px;
  }

  @include breakpoint(xlarge) {
    top: 0;
    bottom: 0;
    height: auto;
		width: 300px;
    padding-top: 40px;
  }
}

.panel-right {
	padding: 30px 10px 70px 10px;

  @include breakpoint(medium) {
		margin-left: 200px;
		padding: 30px 20px 0 20px;

		.row {margin-left: 0}
  }

	@include breakpoint(xlarge) {
		margin-left: 300px;
		padding-top: 40px;
	}
}

footer { margin-top: 1em }

 // Navigation
.nav-collapse {
  z-index: 999;
	padding-left: 20px;
  padding-right: 20px;

 	a {
 		display: block;
    color: rgba(255,255,255,.6);
    line-height: 2;

    &.active {
      color: white;
    }
  }
  a:hover,
  a:focus {
  	color: #ffffff;
  	text-decoration: none;
  }
  .top-rule {
  	margin-bottom: 10px;
  	border-top-color: $light-gray;
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
    line-height: 50px;
  }
  li {
    width: auto;
    display: inline-block;
    margin-right: 1.5em;
  }

  @include breakpoint(small down) {
    background-color: transparent;
    background-image: none;
  }
}

@include breakpoint(medium) {
  .nav-collapse {
    margin-top: 0;

    li {
      width: 100%;
      display: block;
    }
  }
}

.logo {
  display: block;
  position: absolute;
  top: 12px;
  right: 20px;
  width: 26px;
  height: 26px;
  background-image: url('/assets/phvt-triangle-white.svg');
  background-repeat: no-repeat;

  @include breakpoint(medium) {
    top: initial;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
  }
}

// Accoutrements
// -------------------------
.top-rule {
	border-top: 3px solid black;

	&.secondary {
		margin-bottom: 10px;
		// border-top-color: black;
	}
}

// Work grid stylez
.work-grid {
  margin-top: 2em;
	margin-bottom: 2em;
	transition-property: height;
	transition-duration: .25s;
}

.grid-sizer,
.work-item {
  width: 49.3%;

  @include breakpoint(small up) {
    width: 32% }
}

.work-item {
  display: block;
  position: relative;
  margin-bottom: 4px;
  padding: 0;
  border: none;

  transition-property: none;
  transition-duration: 0;

  span {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 4%;
    color: white;
    line-height: 1;
    text-transform: uppercase;
    background-color: rgba(231, 0, 42, .9);

    transition-property: opacity, width, height, left, top;
    transition-duration: .25s;
  }

  &:hover {
    border: none;

    span {
      width: 94%;
      height: 90%;
      left: 3%;
      top: 5%;
      opacity: 1;
    }
  }
}

// Article listing
.blog-index { margin-top: 6em }

.blog-item {
	margin-bottom: 3em;
	// padding: 1.25em 1em .25em 1em;
	// background: white;
}

.post-title {
	margin-top: 0;
  a {
    border-bottom-color: rgba(255,255,255,0);
    color: $body-font-color;

		&:hover { color: $primary-color }
  }
}

.blog-date {
  display: block;
  margin-bottom: 1em;
  color: #898989;
  font-size: .85em;
	line-height: .75;
  text-transform: uppercase;

  a {
    border: none;
    color: #898989;

    &:hover { color: $primary-color }
  }
}

.post-tags {
	line-height: 1;
	margin: 0 0 1em 0;
}

.post-img {
  padding: 2em;
  margin-bottom: 20px;
  background-color: white;
}

.img-block-bg {
  display: block;
  width: 100%;
	margin-bottom: .5em;
  background-color: $white;
	border: 3px solid $white;

	img { border-right: 3px solid $white }
}

.three-em-dash {
  display: block;
  width: 3em;
  height: 2px;
  margin-bottom: .75em;
  background-color: black;
}

.pagination {
  margin: 0;
  color: #898989;
  font-size: .85em;
}
