/*!
 * paulvantuyl v2.0
 *
 * Copyright 2013 Paul Van Tuyl. All rights reserved.
 *
 */

 // Bootstrap import. bootstrap.less imports bootstrap components.
 @import "bootstrap.less";

// Aligned-Left Layout
// -------------------------

.panel-left {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	padding-top: 40px;
	background-color: @brand-primary;
	color: #ffffff;

	@media (min-width: @screen-xs-max) and (max-width: @screen-md-max) {
		width: 200px;
		padding-top: 30px;
  }
  @media (max-width: @screen-xs-max) {
		width:20px;
		padding-top: 20px;
  }
}

.panel-right {
	margin-left: 300px;
	padding-top: 40px;
	padding-bottom: 40px;

	@media (min-width: @screen-xs-max) and (max-width: @screen-md-max) {
		margin-left: 200px;
		padding-top: 30px;
		padding-bottom: 30px;
  }
}

 // Navigation

.nav {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 40px 20px 0 20px;

	@media (min-width: @screen-xs-max) and (max-width: @screen-md-max) {
		padding-top: 30px;
  }
  @media (max-width: @screen-xs-max) {
		padding-top: 20px;
  }

 	a {
 		display: block;
    color: @gray-lighter;
    line-height: 2;
  }
  a:hover {
  	color: #ffffff;
  	text-decoration: none;
  }

  .top-rule {
  	margin-bottom: 10px;
  	border-top-color: rgba(255, 255, 255, 0.25);
  }

  .seperator {
  	margin: 10px 0;
  	border-top: 1px solid rgba(255, 255, 255, 0.25);
  }
}

.logo {
 	position: absolute;
 	bottom: 0;
	margin: 0 0 40px 20px;
	color: @gray-lighter;
	text-transform: uppercase;
	line-height: 1;

	&:hover {
  	color: #ffffff;
  	text-decoration: none;
  }

  span {
  	padding-left: 44px;

		@media (min-width: @screen-xs-max) and (max-width: @screen-md-max) {
			display: none;
		}
  }
}

.pvt-icon {
  position: relative;
  display: block;

  @media (min-width: @screen-xs-max) and (max-width: @screen-md-max) {
		margin-bottom: 5px;
	}
}
.pvt-icon > i {
  position: absolute;
  left: 0;
  top: 1px;
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 0;
  border: 2px solid @gray-lighter;
  border-radius: 100px;

  &:hover {
  	border-color: #ffffff;
  }
}
.pvt-icon > i+i {
  position: absolute;
  left: 0;
  top: 18px;
  display: inline-block;
  width: 2px;
  height: 16px;
  background-color: @gray-lighter;
  border: 0;
  border-radius: 0;

  &:hover {
  	background-color: #ffffff;
  }
}

// Accoutrements
// -------------------------

.top-rule {
	border-top: 2px solid @gray-darker;

	&.secondary {
		margin-bottom: 10px;
		border-top-color: @gray-light;
	}
}

.add-margin-top {
	margin-top: 5px;

	&.add-ten {
		margin-top: 10px;
	}
}