/*!
 * paulvantuyl v2.0
 *
 * Copyright 2013 Paul Van Tuyl. All rights reserved.
 *
 */

 // Bootstrap.less imports bootstrap components.
 @import "bootstrap.less";

 // Flex-video
 @import "flex-video.less";

 // Mixins
 .desaturate(@amount) {
  -webkit-filter: grayscale(@amount);
     -moz-filter: grayscale(@amount);
       -o-filter: grayscale(@amount);
          filter: grayscale(@amount);
 }
 .hyphenate {
   -ms-word-break: break-all;
       word-break: break-all;

       // Non standard for webkit
       word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

 // HTML Elements
p {
  .hyphenate;
}
.btn {
  .transition-property(background-color);
  .transition-duration(.2s);
}

// Aligned-left layout
.panel-left {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	padding-top: 40px;
	background-color: @gray-darker;
	color: #ffffff;

  a { border: none; }

	@media (min-width: @screen-xs-max) and (max-width: @screen-md-max) {
		width: 200px;
		padding-top: 30px;
  }
  @media (max-width: @screen-xs-max) {
    position: relative;
		width: 100%;
		height: 50px;
  }
}
.panel-right {
	margin-left: 300px;
	padding-top: 40px;
	padding-bottom: 40px;

	@media (min-width: @screen-xs-max) and (max-width: @screen-md-max) {
		margin-left: 200px;
		padding-top: 30px;
		padding-bottom: 30px;
  }
  @media (max-width: @screen-xs-max) {
		margin-left: 0;
  }
}

 // Navigation
.nav-collapse {
  margin-top: 10px;
  z-index: 100;
	padding-left: 20px;
  padding-right: 20px;
  background-color: @gray-darker; // #222222;

  .box-shadow(0 6px 12px rgba(0,0,0,.175));

 	a {
 		display: block;
    color: @gray-lighter;
    line-height: 2;
    .transition-property(all);
    .transition-duration(.2s);

    &.active {
      &:after {
        content: ' \2014'
      }
    }
  }
  a:hover,
  a:focus {
  	color: #ffffff;
  	text-decoration: none;
    background-color: rgba(255, 255, 255, 0.04);
  }
  .top-rule {
  	margin-bottom: 10px;
  	border-top-color: @gray-light;
  }
  .seperator {
  	margin: 10px 0;
  	border-top: 1px solid rgba(255, 255, 255, 0.25);
  }

  @media (min-width: @screen-xs-max) {
    .box-shadow(none);
  }
}
.nav-collapse ul {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  width: 100%;
  display: block;
  list-style: none;
}
.nav-collapse li {
  width: 100%;
  display: block;
}
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
.nav-collapse.opened {
  max-height: 9999px;
}
.nav-toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  background-color: @gray-darker;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  color: #ffffff;

  .transition-property(background-color);
  .transition-duration(.2s);
  .animated;
  .fadeInLeft;

  &:hover {
    color: #ffffff;

    &:after {
      .fadeInLeft;
      }
  }
  &:focus {
    color: #ffffff;
  }
  .active { background-color: @gray-darker }
}

@media screen and (min-width: @screen-xs-max) {
  .nav-collapse { margin-top: 0 }
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

// Accoutrements
// -------------------------
.top-rule {
	border-top: 3px solid @brand-primary;

	&.secondary {
		margin-bottom: 10px;
		border-top-color: @gray-light;
	}
}
.add-margin-top {
	margin-top: 5px;

	&.add-ten {
		margin-top: 10px;
	}
}
.add-margin-bottom {
  margin-bottom: 5px;
}

// Work grid stylez
.work-grid {
  margin-top: 40px;
}

.grid-sizer,
.work-item { width: 32% }

.work-item {
  display: block;
  position: relative;
  margin-bottom: 4px;
  padding: 0;
  border: none;

  span {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 4%;
    color: white;
    line-height: 1;
    text-transform: uppercase;
    background-color: rgba(231, 0, 42, .9);

    .transition-property(all);
    .transition-duration(.2s);

  }

  &:hover {
    border: none;

    span {
      width: 94%;
      height: 90%;
      left: 3%;
      top: 5%;
      opacity: 1;
    }
  }
}

// Styling for Browser-window work/portfolio images
.dt-browser {
  display: inline-block;
  margin-bottom: 1em;

  .top {
    width: 100%;
    height: 29px;
    padding: 8px;
    background-color: rgb(210, 210, 210);
    border-bottom: 1px solid rgb(150, 150, 150);
    .border-top-radius(4px);
  }
  .bottom {
    .border-bottom-radius(4px);

    img {
      .border-bottom-radius(4px);
    }
  }
  .circle {
    > i {
      display: block;
      float: left;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      background-color: rgb(165, 165, 165);
      border-radius: 100px;
    }
    > i + i {
      background-color: rgb(245, 245, 245);
    }
    > i + i + i {
      background-color: rgb(245, 245, 245);
    }
  }
}

// The Phone
.phone {
  display: inline-block;
  margin-bottom: 1em;
  padding: .25em;
  background-color: rgb(210, 210, 210);
  border-radius: 1.5em;
}
.glass {
  width: 100%;
  height: 100%;
  padding: 1em .5em;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 1.3em;
}
.speaker {
  width: 3em;
  height: .5em;
  margin: 0 auto 1em auto;
  background-color: rgb(100, 100, 100);
  border-radius: 2em;
}
.screen img {
  border-radius: .25em;
}
.button {
  display: block;
  width: 2em;
  height: 2em;
  margin: .5em auto 0 auto;
  border: .25em solid rgb(230, 230, 230);
  border-radius: 20em;
}

// Dribbble shots
.dribbble-shot > img {
  float: left;
  width: 100px;
  height: auto;
  margin: 0 10px 10px 0;
  border: 1px solid #DCDCDC;
  border-radius: 1px;

  .transition-property(opacity);
  .transition-duration(.25s);
  .opacity(1);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;

  &:hover,
  &:focus {
    opacity: .75;
  }
}

// Article listing
.blog-item {
  margin-bottom: (@line-height-computed / 2);
}

.blog-date {
  display: block;
  margin: 2px 0 0 0;
  color: #898989;
  font-style: italic;
  font-size: 85%;

  @media (min-width: @screen-md-min) {
    display: inline;
    margin: 0 0 0 10px;
  }
}
