/*!
 * paulvantuyl v2.0
 *
 * Copyright 2013 Paul Van Tuyl. All rights reserved.
 *
 */

 // Bootstrap import. bootstrap.less imports bootstrap components.
 @import "bootstrap.less";

 // Flexbox layout

.flex-container {
	min-height: 100%;

	display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
 
  -webkit-flex-direction: row;
     -moz-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;

  -webkit-align-items: stretch;
     -moz-align-items: stretch;
      -ms-align-items: stretch;
          align-items: stretch;
}

.panel-left {
	min-width: 300px;
	margin-right: 30px;
	background-color: #1e1e1e;
	color: #ffffff;
}

.panel-right {
	max-width: 1170px;
	background-color: #eeeeee;
}

 // Navigation
 
 .nav {
 	position: fixed;
 	padding: 20px;
 }