/* Button Component Styles */

.button {
  color: var(--color-black);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: .85rem 1rem;
  border: 2px solid var(--color-border-color);
  border-radius: 0;
  transition: 
    width .2s ease-out,
    height .2s ease-out,
    opacity .2s ease-out,
    background-color .2s ease-out,
    border-color .2s ease-out,
    box-shadow .2s ease-out,
    color .25s ease-out;
  font-family: var(--font-sans);
  line-height: 1;
  text-align: center;
  cursor: pointer
}


@media (prefers-color-scheme: dark) {
  .button:hover {
    box-shadow: 8px 10px 0 var(--color-medium-gray);
  }
}


/* Buttons */
button:hover,
.button:hover {
  z-index: 100;
  box-shadow: 8px 10px 0 rgb(var(--color-black), .175);
}

.close-button {
  background-color: rgb(var(--color-white), .65);
  padding-left: .125em;
  padding-right: .125em;
}

.social {
  width: 56px;
  margin-right: .5rem;
}

button.secondary.button.active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);

  &:hover {
    border-color: var(--color-primary);
    color: var(--color-white);
  }
}

.button.hollow.secondary {
  color: var(--color-link);
  border-width: 2px;
}

