---
title: Aerial Sphere
layout: work-page
active: work
image_path: "/assets/aerial-sphere/aerial-sphere-cover.png"
tags: Design Motion
slug: work
---

<p><img class="img-responsive" src="/assets/aerial-sphere/aerial-sphere-cover.png" /></p>

<p>At Tallwave, we worked with Aerial Sphere to help them plan and achieve the next phase in their business. They worked with us to unpack their goals, technology, and processes. This unpack helped us to create marketing materials to help them achieve their goals:</p>

<ul>
  <li>A single-page responsive website</li>
  <li>An animated, explanatory video of their technology</li>
  <li>A custom designed Keynote &amp; Powerpoint presentation template</li>
</ul>

<p>My main roles in the project were visual design, motion graphics, and editing. Over the course of the project I also gave design direction on other aspects, such as UX design and worked with the rest of the team on the storyboarding for the video.</p>

<h3>Video</h3>

<div class="flex-video widescreen vimeo">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/-argDheGMf4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<p>We worked as a team to create a script and storyboard that painted the picture of the potential of Aerial Sphere's technology. From there, we worked with them on a music selection and getting a voiceover produced while I animated and edited the video based on their imagery and custom created motion graphics.</p>

<h4>Storyboard sketches and vision illustrations</h4>

<p><em>Note</em>: I'm not showing my coworker's sketches, etc here, only my own.</p>

<div class="work-grid">
  <div class="grid-sizer"></div>
  <div class="work-item">
    {% include img-modal.html id="image1" src="/assets/aerial-sphere/pvt-storyboard-1.jpg" src-large="/assets/aerial-sphere/pvt-storyboard-1-large.jpg" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="image2" src="/assets/aerial-sphere/pvt-storyboard-2.jpg" src-large="/assets/aerial-sphere/pvt-storyboard-2-large.jpg" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="image3" src="/assets/aerial-sphere/video-earth.png" src-large="/assets/aerial-sphere/video-earth-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="image4" src="/assets/aerial-sphere/video-house.png" src-large="/assets/aerial-sphere/video-house-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="image5" src="/assets/aerial-sphere/video-map.png" src-large="/assets/aerial-sphere/video-map-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img6" src="/assets/aerial-sphere/video-usa.png" src-large="/assets/aerial-sphere/video-usa-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img7" src="/assets/aerial-sphere/video-share-loc.png" src-large="/assets/aerial-sphere/video-share-loc-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img8" src="/assets/aerial-sphere/video-devices.png" src-large="/assets/aerial-sphere/video-devices-lg.png" %}
  </div>
</div>

<hr>

<h3 class="add-lh-t">Keynote</h3>

<p>A custom Keynote (and Powerpoint) template was created for various presentation needs. The template design was meant to reflect the style of video, so that the video could be shown in a presentation and feel like an extension of the presentation.</p>

<div class="work-grid">
  <div class="grid-sizer"></div>
  <div class="work-item">
    {% include img-modal.html id="img9" src="/assets/aerial-sphere/slides/Chart.png" src-large="/assets/aerial-sphere/slides/Chart-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img10" src="/assets/aerial-sphere/slides/Image Grid.png" src-large="/assets/aerial-sphere/slides/Image Grid-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img11" src="/assets/aerial-sphere/slides/Image on Left.png" src-large="/assets/aerial-sphere/slides/Image on Left-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img12" src="/assets/aerial-sphere/slides/Image on Right.png" src-large="/assets/aerial-sphere/slides/Image on Right-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img13" src="/assets/aerial-sphere/slides/Image with callout.png" src-large="/assets/aerial-sphere/slides/Image with callout-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img14" src="/assets/aerial-sphere/slides/Section TItle Slide 1.png" src-large="/assets/aerial-sphere/slides/Section TItle Slide 1-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img15" src="/assets/aerial-sphere/slides/Section TItle Slide 2.png" src-large="/assets/aerial-sphere/slides/Section TItle Slide 2-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img16" src="/assets/aerial-sphere/slides/Single Line 2.png" src-large="/assets/aerial-sphere/slides/Single Line 2-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img17" src="/assets/aerial-sphere/slides/Single Line 3.png" src-large="/assets/aerial-sphere/slides/Single Line 3-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img18" src="/assets/aerial-sphere/slides/Single Line.png" src-large="/assets/aerial-sphere/slides/Single Line-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img19" src="/assets/aerial-sphere/slides/Team Grid.png" src-large="/assets/aerial-sphere/slides/Team Grid-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img20" src="/assets/aerial-sphere/slides/Three Image Layout.png" src-large="/assets/aerial-sphere/slides/Three Image Layout-lg.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img21" src="/assets/aerial-sphere/slides/Tri-Market 2.png" src-large="/assets/aerial-sphere/slides/Tri-Market 2-lg.png" %}
  </div>
</div>

<hr>

<h3 class="add-lh-t">Responsive webpage</h3>

<p>Due to budget and time constraints, it was decided to create a single-page, (mobile-first) responsive site. I created visual comps and then worked with the amazing <a href="https://twitter.com/scottmbulloch">Scott Bulloch</a> to bring it to life.</p>

<div class="work-grid">
  <div class="grid-sizer"></div>
  <div class="work-item">
    {% include img-modal.html id="img22" src="/assets/aerial-sphere/site/iphone-6-thm.png" src-large="/assets/aerial-sphere/site/Home-mobile@1x.png" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img23" src="/assets/aerial-sphere/site/browser-thm.png" src-large="/assets/aerial-sphere/site/Home-desktop@1x.png" %}
  </div>
</div>
