---
title: iDC Photo Video
layout: work-page
active: work
image_path: "/assets/idc-website/idc-retina-960.png"
tags: Design Code
slug: work
---

<p><img class="img-responsive" src="/assets/idc-website/idc-retina.png" /></p>

<p>I (re)designed, created, and maintained iDC Photo Video's website while working for them from 2007-2013. This media-rich website and e-commerce platform ultimately had over 600 products being sold on it that were combined into user-configurable packages. The platform was running on a dual Drupal and Magento setup, Drupal for content and blog pages, and Magento for the webstore.</p>

<p>On the order fulfillment side, the Magento storefront was connected by third-party software to Fishbowl Inventory Management, and orders and shipping were synced both ways between Magento and Fishbowl. Each order would update the local inventory, when orders were shipped the tracking numbers were added to Magento, and customers automatically received transactional emails.</p>

<p>The entire Magento and Fishbowl Inventory integration project took over a year. I had logistical help, and there was help from vendors for the connector software and from Fishbowl, but I designed and architeced the whole solution, including converting our analog manufacturing chain into the Fishbowl digital processes. This was the first large scale, end to end design and development project I ever did — and the last one I ever did by myself. Completed in 2011.</p>

<p>Project Roles: Designer, developer, illustrator, magician.</p>

<div class="work-grid">
  <div id="grid-sizer"></div>
  <div class="work-item">
    {% include img-modal.html id="img1" src="/assets/idc-website/idc-home-large.jpg" src-large="/assets/idc-website/idc-home-full.jpg" %}
  </div>
	<div class="work-item">
    {% include img-modal.html id="img2" src="/assets/idc-website/idc-store-large.jpg" src-large="/assets/idc-website/idc-store-full.jpg" %}
  </div><div class="work-item">
    {% include img-modal.html id="img3" src="/assets/idc-website/idc-systemzero-large.jpg" src-large="/assets/idc-website/idc-systemzero-full.jpg" %}
  </div>
</div>
