---
title: iDC Photo Video
layout: work-page
active: work
image_path: "/assets/idc-website/idc-retina-960.png"
tags: Design Code
slug: work
---

<p><img class="img-responsive" src="/assets/idc-website/idc-retina.png" /></p>

<p>I (re)designed, created, and maintained iDC Photo Video's website while working for them from 2007-2013. Media-rich website and e-commerce platform.</p>

<p>Project Roles: Designer, developer, illustrator, magician.</p>

<div class="work-grid">
  <div class="grid-sizer"></div>
  <div class="work-item">
    {% include img-modal.html id="img1" src="/assets/idc-website/idc-home-large.jpg" src-large="/assets/idc-website/idc-home-full.jpg" %}
  </div>
	<div class="work-item">
    {% include img-modal.html id="img2" src="/assets/idc-website/idc-store-large.jpg" src-large="/assets/idc-website/idc-store-full.jpg" %}
  </div><div class="work-item">
    {% include img-modal.html id="img3" src="/assets/idc-website/idc-systemzero-large.jpg" src-large="/assets/idc-website/idc-systemzero-full.jpg" %}
  </div>
</div>
