---
title: Media Screens
layout: work-page
active: work
image_path: "/assets/2012/09/now-left-800x600.jpg"
tags: Design
slug: work
published: true
---

<p><img src="/assets/2012/09/now-center-800x450.jpg" alt="Center Screen" class="img-responsive" /></p>

<p>Media screens for Calvary Chapel's <em>A Night of Worship</em>, way back in 2009.</p>

<div class="work-grid">
  <div id="grid-sizer"></div>
	<div class="work-item">
    {% include img-modal.html id="img1" src="/assets/2012/09/now-left-270x203.jpg" src-large="/assets/2012/09/now-left.jpg" %}
  </div>
  <div class="work-item">
    {% include img-modal.html id="img2" src="/assets/2012/09/now-center-360x203.jpg" src-large="/assets/2012/09/now-center.jpg" %}
  </div>
	<div class="work-item">
    {% include img-modal.html id="img3" src="/assets/2012/09/now-right-270x203.jpg" src-large="/assets/2012/09/now-right.jpg" %}
  </div>
</div>
