<footer class="row">
  <div class="small-12 columns">
    <div class="footer-inner">
      <div class="row">
        <div class="small-6 medium-4 large-4 columns">
          <p><small>All content and design &copy; Paul Van Tuyl, {{ site.time | date: "%Y" }}, unless otherwise noted.</small></p>
        </div>
        <div class="small-6 medium-4 large-4 columns">
          <p><small>HTML, CSS, &amp; JS Served up by <a href="https://pages.github.com">Github Pages</a>. View the <a href="https://github.com/paulvantuyl/paulvantuyl.github.io">source.</a></small></p>
        </div>
      </div>
    </div>
  </div>
</footer>
