<footer class="row">
  <div class="small-12 columns">
    <div class="footer-inner">
      <div class="row">
        <div class="small-6 large-4 columns">
          <p><small><strong>Copyright</strong><br>All content and design &copy; Paul Van Tuyl, {{ site.time | date: "%Y" }}, unless otherwise noted. All rights reserved.</small></p>
        </div>
        <div class="small-6 large-4 columns">
          <p><small><strong>Colophon</strong><br>Design, HTML, CSS, &amp; JS by Paul Van Tuyl. Built on <a href="https://foundation.zurb.com">Foundation</a>. Served up by <a href="https://pages.github.com">Github Pages</a>. View the <a href="https://github.com/paulvantuyl/paulvantuyl.github.io">source.</a></small></p>
        </div>
      </div>
    </div>
  </div>
</footer>
