<div class="top-bar">
  <div class="top-bar-left">
    <a href="/" class="" title="Blog, journal, notes">
      <span class="logo">
        <svg id="pvtLogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332 287.6">
          <path id="pyramid" d="M166 0L0 287.6h332L166 0zm138.3 271.6h-97l-40.9-70.9 72.7-42 65.2 112.9zm-73.1-126.9l-72.7 42-40.9-70.8 48.5-84 65.1 112.8zM108.3 132l80.6 139.5H27.8L108.3 132z"/>
        </svg>
      </span>
    </a>
	</div>
	<div class="top-bar-left">
		<ul class="menu">
			<li>
        <a href="/" title="Blog, journal, notes"
          {% if page.active == "blog" %}
            class="active "
          {% else %}
              class=""
          {% endif %}
        >Weblog
        </a>
      </li>
			<li>
        <a href="/work" title="Some things I've made"
          {% if page.active == "work" %}
            class="active "
          {% else %}
              class=""
          {% endif %}
        >Work
        </a>
      </li>
			<li>
        <a href="/info" title="Information and stuff"
          {% if page.active == "info" %}
            class="active "
          {% else %}
              class=""
          {% endif %}
        >Info
        </a>
      </li>
    </ul>
  </div>
</div>
