<nav class="nav" id="nav" role="navigation">
	<div class="top-rule"></div>
  <ul class="list-unstyled">
  	<li class="hidden"><a class="nav-btn" id="nav-close-btn" href="#top">Close Navigation</a>
	  <li><a href="/" title="Paul Van Tuyl's Portfolio">Work</a></li>
	  <li><a href="/journal" title="Paul Van Tuyl's Journal">Journal</a></li>
	  <li><a href="/" title="About Paul Van Tuyl">About</a></li>
	  <li class="seperator"></li>
	  <li><a href="http://github.com/paulvantuyl" class="github" title="Paul Van Tuyl on Github">Github</a></li>
	  <li><a href="http://dribbble.com/paulvantuyl" class="dribbble" title="Paul Van Tuyl on Dribbble">Dribbble</a></li>
	  <li><a href="http://twitter.com/paulvantuyl" class="twitter" title="Paul Van Tuyl on Twitter">Twitter</a></li>
	</ul>
</nav>

<a href="/" class="logo"><i class="pvt-icon"><i></i><i></i></i><span>Paul Van Tuyl</span><br><span><small>Designer &amp; Developer</small></span></a>