<nav class="nav-collapse" role="navigation">
	<div class="top-rule hide-for-small-only"></div>
  <ul>
	  <li><a href="/" title="Blog, journal, notes" {% if page.active == "blog" %}class="active"{% endif %}>Weblog</a></li>
		<li><a href="/work" title="Some things I've made" {% if page.active == "work" %}class="active"{% endif %}>Work</a></li>
		<li><a href="/info" title="Information and stuff" {% if page.active == "info" %}class="active"{% endif %}>Info</a></li>
	</ul>
</nav>
<div class="logo animated fadeInLeft"></div>
