<!-- All pages -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/what-input/dist/what-input.min.js"></script>
<script src="/bower_components/foundation-sites/dist/js/foundation.min.js"></script>

<!-- Initialize Foundation -->
<script>
  $(document).foundation();
</script>

<!-- Isotope -->
{% if page.slug == "work" %}
<script src="/js/vendor/isotope.pkgd.min.js"></script>
<script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
<script>
  // init Isotope
  var $grid = $('.work-grid').isotope({
    itemSelector: '.work-item',
    percentPosition: true,
    stagger: 50,
    openSpeed: 250,
    closeSpeed: 250,
    masonry: {
      // use element for width
      columnWidth: '#grid-sizer',
      gutter: 24,
    }
  });
  // layout Isotope after each image loads
  $grid.imagesLoaded().progress( function() {
    $grid.isotope('layout');
  });
  // bind filter button click
  $('.filters-button-group').on( 'click', 'button', function() {
    var filterValue = $( this ).attr('data-filter');
    $grid.isotope({ filter: filterValue });
  });
  // change active class on buttons
  $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.active').removeClass('active');
      $( this ).addClass('active');
    });
  });
</script>
{% endif %}
