<!-- jQuery -->
<script src="/js/vendor/jquery-2.0.3.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- Navigaton js -->
<!--<script src="/js/vendor/nav.js"></script>-->
<script src="/js/vendor/responsive-nav.min.js"></script>
<script>
  var nav = responsiveNav(".nav-collapse");
</script>

<!-- srcset polyfill https://github.com/borismus/srcset-polyfill/ -->
<script src="/js/vendor/srcset.min.js"></script>

<!-- Dribbble, yo -->
{% if page.slug == "dribbble" %}
<script src="/js/vendor/jribbble.min.js"></script>
<script>
  $.jribbble.setToken('ceeb4afdc247a93663e61e287ec0cf864ec8e1ecc17ab85dde46732731122dc1');

  $.jribbble.users('paulvantuyl').shots({per_page: 12}).then(function(shots) {
  var html = [];

    shots.forEach(function(shot) {
      html.push('<a href="' + shot.html_url + '" class="dribbble-shot"');
      html.push('<img src="' + shot.images.normal + '">');
      html.push('</a>');
    });

    $('.shots').html(html.join(''));
  });
</script>
{% endif %}
