<div class="card">
  <div class="card-divider">
    <i class="far fa-portrait"></i> <i class="far fa-location"></i> <i class="far fa-comment-smile"></i>
  </div>
  <img src="/assets/fotos/pvt-angle2.png" class="img-responsive headshot" />
  <div class="card-section">
    <p>
  	  <a href="http://github.com/paulvantuyl" class="social hollow secondary button" title="Stuff on Github">
  		  <i class="fab fa-github"></i>
  	  </a>
  	  <a href="http://www.linkedin.com/in/paulvantuyl/" class="social hollow secondary button" title="Networkin' on LinkedIn">
  		  <i class="fab fa-linkedin"></i>
  	  </a>
  	  <a href="https://www.exophase.com/xbox/user/EndorPanda/" class="social hollow secondary button" title="Get yo' game on">
  		  <i class="fab fa-xbox"></i>
  	  </a>
  	  <a href="/contact" class="social hollow secondary button" title="Email @ me">
  		  <i class="far fa-paper-plane"></i>
  	  </a>
    </p>
  </div><!-- End card-section -->
</div><!-- End card -->
