<!DOCTYPE html>
<html>
  {% include head.html %}
  <body
    {% if page.active == 'blog' %}
      class="page-red"
    {% elsif page.active == 'work' %}
      class="page-black"
    {% else %}
      class="page-white"
    {% endif %}
  >
    <div id="barba-wrapper">
      <div class="barba-container">
        <header role="navigation">
          <div class="row">
            <div class="small-12 columns">
              {% include navigation.html %}
            </div>
          </div>
        </header>
        <section role="main">
          {{ content }}
          {% include footer.html %}
        </section>
        {% include scripting.html %}
      </div>
    </div>
  </body>
</html>
