<!DOCTYPE html>
<html>
  {% include homepage-head.html %}
  <body>
    <!--<div id="outer-wrap">
      <div id="inner-wrap">-->
        <header class="top-bar animated slideInLeft" id="panel-left" role="banner">
          {% include navigation.html %}
        </header>
        <!--{% include navbar-toggle.html %}-->
        <section class="row" role="main">
          <div class="small-12 columns">
            {{ content }}
          </div>
        </section>
      <!--</div>--><!-- End inner-wrap -->
    <!--</div>--><!-- End outer-wrap -->
    {% include scripting.html %}
  </body>
</html>
