<!DOCTYPE html>
<html>
  {% include homepage-head.html %}
  <body>
    <!--<div id="outer-wrap">
      <div id="inner-wrap">-->
        <header class="panel-left animated slideInLeft" id="panel-left" role="banner">
          {% include navigation.html %}
        </header>
        <!--{% include navbar-toggle.html %}-->
        <section class="panel-right container" role="main">
          {{ content }}
        </section>
      <!--</div>--><!-- End inner-wrap -->
    <!--</div>--><!-- End outer-wrap -->
    {% include scripting.html %}
  </body>
</html>
