---
layout: default
slug: post
---
<div class="row animated fadeIn delayBravo">
	<div class="small-12 large-12 columns">
		<h1 class="page-title">{{ page.title }}</h1>
	</div>
</div>

<div class="blog-index row animated fadeIn delayCharlie">
	<div class="small-12 columns medium-order-1">
		<div class="top-rule"></div>
	</div>
	<div class="small-12 large-4 columns medium-order-3">
		<span class="blog-date">
			{{ page.date | date: "%B %d, %Y" }} &middot; {{ page.category }}
		</span>
		<h3 class="post-tags">
			{{ page.tags | array_to_string | join:'&amp;<br>' }}
		</h3>
	</div>

	<article class="small-12 large-8 columns medium-order-2">
		{% if page.category == 'Image' %}
			<img src="{{ page.image }}" class="img-responsive post-img"/>
			{{ content }}
		{% elsif page.category == 'Video' %}
			<div class="responsive-embed widescreen">
				{{ page.embed }}
			</div>
			{{ content }}
		{% elsif page.category == 'Audio' %}
			<div class="responsive-embed square">
				{{ page.embed }}
			</div>
			{{ content }}
		{% elsif page.category == 'Link' %}
			<p><a href="{{ page.link_destination }}">{{ page.link_destination }}</a></p>
			{{ content }}
		{% else %}
			{{ content }}
		{% endif %}
	</article>

	<article id="disqus_thread" class="small-12 large-8 columns medium-order-4"></article>
	<script>
	  var disqus_config = function () {
	  this.page.url = "http://pvt.design{{ page.url }}";
	  this.page.identifier = "{{ page.id }}";
	  };

	  (function() {
	  var d = document, s = d.createElement('script');
	  s.src = 'https://paulvantuyl.disqus.com/embed.js';
	  s.setAttribute('data-timestamp', +new Date());
	  (d.head || d.body).appendChild(s);
	  })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
