---
layout: default
---
<div class="row">
	<div class="col-md-8 animated fadeInLeft delayAlpha">
		<div class="top-rule"></div>
		<h1>{{ page.title }}</h1>
	</div>

	<div class="col-md-4 animated fadeInLeft delayBeta">
		<div class="top-rule secondary hidden-sm hidden-xs"></div>
		<p>{{ page.date | date: "%B %d, %Y" }}</p>
		<h4>
			{{ page.tags | array_to_string | join:'+<br>' }}</span>
		</h4>
	</div>
</div>

<article class="row">
	<div class="col-md-8 animated fadeInLeft delayAlpha">
		{{ content }}
	</div>
</article>
