---
layout: default
---
<div class="row">
  <div class="medium-8 columns animated fadeInLeft">
    <div class="top-rule"></div>
    <h1 class="page-title">{{ page.title }}</h1>
  </div>

  <div class="medium-4 columns animated fadeInLeft delayBravo">
    <div class="top-rule secondary hide-for-small-only"></div>
    <h3 class="post-tags">{{ page.tags | array_to_string | join:'+<br>' }}</h3>
  </div>
</div>

<article class="row">
	<div class="medium-8 columns animated fadeInLeft delayAlpha">
		{{ content }}
	</div>
</article>
