---
layout: default
---

<div class="row animated fadeIn delayBravo">
	<div class="small-12 columns">
		<h1 class="page-title">{{ page.title }}</h1>
	</div>
</div>

<div class="blog-index row animated fadeIn delayCharlie">
	<div class="small-12 columns">
		<div class="top-rule"></div>
	</div>
	<div class="small-12 large-4 columns medium-order-2">
		<h3 class="post-tags">
			{{ page.tags | array_to_string | join:'&amp;<br>' }}
		</h3>
	</div>

	<article class="small-12 large-8 columns medium-order-1">
    {{ content }}
  </article>
</div>
